body {
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.container {
    display: table-cell;
    vertical-align: middle;
    border: 1px;
    background-color: #efefef;
}

.input {
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    border: 2px;
    background-color: #ffffff;
    padding-top: 15px;
    padding-left: 10px;
    padding-bottom: 15px;
    align-content: center;
}

.output {
    margin-left: auto;
    margin-right: auto;
    text-align: center; 
    margin: 10px auto;
    background-color: #ffffff;
    width: 500px;
    padding-top: 15px;
    padding-left: 10px;
    padding-bottom: 15px;
}

.button {
    text-align: center; 
    margin: 20px;
}

form {
    width: 100%;
}

input {
    margin-bottom: 10px;
}

table {
    border: 2px dotted green;
}

th, td {
    vertical-align: top;
    align-content : center;
    padding: 5px;
}