* {
    box-sizing: border-box;
 }

html, body {
    padding: 0;
    margin: 0;
    font-family: Arial;
}

header {
    background-color: #FBFBFB;
    height: 100px;
}

.fixed-width {
    max-width: 1260px;
    width: 90vw;
    margin: 0 auto;
    padding: 0 30px;
    height: 100%;
}

nav {
    height: 100%;
    float: left;
    display: flex;
    align-items: center;
    letter-spacing: 1px;
}

a {
    color: black;
    text-decoration: none;
    margin-right: 30px;
    font-size: 14px;
}

a:hover {
    color: rgb(252, 85, 124);
    border-bottom: 1px dotted rgb(252, 85, 124);
}

#contact-container {
    height: 100%;
    float: right;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#phone {
    font-weight: bold;
    font-size: 24px;
}

#order-call {
    border: 1px solid rgb(252, 85, 124);
    color: rgb(252, 85, 124);
    padding: 12px 40px 10px;
    margin-left: 30px;
    background-color: #FBFBFB;
    letter-spacing: .1px;
}

#order-call:hover {
    border: 1px solid rgb(252, 85, 124);
    color: #FBFBFB;
    background-color: rgb(252, 85, 124);
}

#welcome-screen {
    height: calc(100vh - 100px);
    display: flex;
    background-image: url('img/DmitryAlekseev.png');
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: contain;
}

#headings {
    margin-top: 20%;
}

h1 {
    font-size: 52px;
    font-weight: 800;
    background-color: white;
}

h2 {
    font-size: 18px;
    font-weight: 100;
    color: #797979;
    margin-bottom: 30px;
    background-color: white;
}

.common-button {
    border: 2px solid rgb(255, 78, 46);
    color: white;
    padding: 12px 40px 10px;
    background-color: rgb(255, 78, 46);
    margin-bottom: 30px;
    box-shadow: 0px 0px 4px 6px #fff;
}

#portrait {
    height: 100%;
    flex: 50%;
    /* max-width: 720px;
    width: 100%; */
    float: right;
    justify-content: flex-end;
    background-image: url('img/DmitryAlekseev.png');
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: contain;
}

@media screen and (max-width: 1300px) {
    #welcome-screen {
        background-position: center bottom;
        justify-content: center;
        align-items: flex-start;
    }
    #headings {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    h1, h2 {
        margin: 20px;
    }
    h2 {
        font-size: 36px;
    }
    .common-button {
        font-size: 42px;
        margin-top: 120px;
    }
}

#features {
    
}




/*
    api.php code: https://ideone.com/T9tMzp

    webref.ru

    background-image: url('/img/picture.png');
    background-position: bottom right;
*/
#popupContainer {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background-image: url('img/b.png');
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
#popup {
    width: 250px;
    height: 300px;
    background-color: white;
    padding: 30px;
}
#popup h2 {
    margin-top: 0;
}
#moneyAmount {
    width: 100%;
}
#sendButton {
    margin: 10px auto 0;
}